<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            @* <a class="navbar-brand" asp-area="" asp-controller="" asp-action="">@ViewData["Title"]</a> *@
            <h2 class="mb-4">@ViewData["Title"]</h2>
        </div>
    </nav>
</header>
