<div class="border-right box-shadow" id="sidebar-wrapper">
    <div class="sidebar-heading">ToDoApp</div>
    <div class="list-group list-group-flush">
        <a asp-area="" asp-controller="ToDo" asp-action="Index" class="list-group-item list-group-item-action">Home</a>
        <a asp-area="" asp-controller="ToDo" asp-action="Create" class="list-group-item list-group-item-action">Create
            ToDo</a>
    </div>
</div>