html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Light Mode (default) */
/* No changes needed for light mode since it is default */

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff !important;
}

.navbar-light.dark-mode {
  background-color: #343a40 !important;
  /* border-color: #444444; */
}


.navbar-light.dark-mode .navbar-brand,
.navbar-light.dark-mode .nav-link {
  color: #ffffff;
}

/* Wrapper and Sidebar */
#wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar-wrapper {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  transition: all 0.3s;
  background: #ffffff;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#page-content-wrapper {
  width: 100%;
  /* padding: 20px; */
  transition: all 0.3s;
  margin-left: 250px;
}

.sidebar-heading {
  padding: 1rem;
  font-size: 24px;
  font-weight: 600;
}

.list-group-flush {
  background-color: transparent;
  padding-left: 2rem;
  padding: .5rem;
}