html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Light Mode (default) */
/* No changes needed for light mode since it is default */

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff !important;
}

.navbar-light.dark-mode {
  background-color: #343a40 !important;
  /* border-color: #444444; */
}


.navbar-light.dark-mode .navbar-brand,
.navbar-light.dark-mode .nav-link {
  color: #ffffff;
}